@media screen and (max-width:800px) {
    /* Celular */
    .gato1, .gato2, .gato3, .gato4 {
        font-size:9px;
        
    }
    .aside-descripcion{
        font-size: 15px;
    }
}

@media screen and (min-width:801px) and (max-width:1086px) {
    /* Tablet */
    .gato1, .gato2, .gato3, .gato4 {
        font-size: 25px;
    }
    .aside-descripcion{
        font-size: 30px;
    }    
}

@media screen and (min-width:1087px) {
    /* escritorio */
    .aside-gatos {
        font-size: 15px;
    }
    .aside-descripcion {
        font-size: 35px;
    }
}
