* {
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
}

.navbar {
    background-color: #5b8a72;
    font-family: "open sans";
}

.logo_full {
    height: 90px;
}

.logo_small {
    height: 90px;
}

.nav-link {
    font-size: 25px;
}

.galeria {
    font-family: "open sans";
}

.galeria h1 {
    text-align: center;
    margin: 20px 0 15px 0;
    font-weight: 300;
}

.contenedor-imagenes {
    display: flex;
    width: 80%;
    margin: 20px auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 3px;
}

.contenedor-imagenes .imagen {
    width: 35%;
    position: relative;
    height: auto;
    margin-bottom: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75);
    margin: 20px;
}

.imagen img {
    width: 100%;
    height: 100%;
}

.container {
    background-color: #bdbdbd;
    max-width: 100%;
    padding: 0px;
}

#categoria {
    width: 25%;
    font-size: 20px;
    margin: auto;
    text-align: center;
}

#id_gato {
    width: 50%;
    height: 35px;
}

.form-group {
    text-align: center;
}

#tabla-categorias {
    font-size: 30px;
}



.carousel-inner img {
    width: 100%;
}

.carousel {
    min-width: 256px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: black;
}

.intro {
    background-color: #dbf6e9;
    display: flex;
    flex-direction: row;
}

.aside-2 {
    margin: auto;
    padding: 20px;
    font-family: "open sans";
    font-size: 40px;
}

footer {
    background-color: #5b8a72;
    height: 40px;
}

footer p {
    text-align: right;
    font-family: "open sans";
    font-size: 20px;
    margin: 15px;
}

@media screen and (max-width:800px) {
    /* celular */
    header {
        order: 1;
        text-align: center;
    }
    .intro {
        order: 2;
        flex-direction: column;
    }
    .galeria {
        order: 3;
    }
    .aside-2 {
        margin: auto;
        padding: 10px;
        font-family: "open sans";
        font-size: 20px;
    }
    .footer {
        order: 4;
    }
    .logo_full {
        display: none;
    }
    .contenedor-imagenes .imagen {
        width: auto;
        margin-bottom: 1px;
        margin: 5px;
    }
    #tabla-categorias {
        font-size: 13px;
    }
    #categoria {
        width: 25%;
        font-size: 10px;
        margin: auto;
        text-align: center;
    }
    img.pequeña {
        width: auto;
        height: auto;
    }
    img.carrusel {
        width: auto;
        height: auto;
        display:block;
        margin: auto;
    }
}

@media screen and (min-width:801px) and (max-width:1086px) {
    /* tablet */
    header {
        order: 1;
        text-align: center;
    }
    .intro {
        order: 2;
        flex-direction: column;
    }
    .galeria {
        order: 3;
    }
    .footer {
        order: 4;
    }
    .logo_small {
        display: none;
    }
    #tabla-categorias {
        font-size: 20px;
    }
}

@media screen and (min-width:1087px) {
    /* escritorio */
    .logo_small {
        display: none;
    }
    .carousel {
        min-width: 512px;
    }
}

@media screen and (max-width:280px) {
    /* fold */
    .navi {
        display: none;
    }
}