* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.galeria {
    font-family: "open sans";
}

.galeria h1 {
    text-align: center;
    margin: 20px 0 15px 0;
    font-weight: 300;
}

.contenedor-imagenes {
    display: flex;
    width: 80%;
    margin: 20px auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 3px;
}

.contenedor-imagenes .imagen {
    width: 30%;
    position: relative;
    height: 300px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75);
    margin: 20px;
}

.imagen img {
    width: 100%;
    height: 100%;
}

.container {
    background-color: #536162;
    max-width: 100%;
    padding: 0px;
}

header {
    background-color: #5b8a72;
    height: 100px;
    padding: 5px;

}

header img {
    height: 100%;
    
}

.carousel-item {
    width: auto;
    height: auto;
    min-width: 280px;
    min-height: 280px;
}

.carousel {
    max-height: 800px;
    max-width: 800px;
    min-width: 280px;
    min-height: 280px;
    
}

.intro {
    background-color: #dbf6e9;
    display: flex;
    flex-direction: row;
}

.aside-2 {
    margin: auto;
    padding: 20px;
    font-family: "open sans";
    font-size: 40px;
}

.logo_small {
    display: none;
}

footer {
    background-color: #5b8a72;
    height: 40px;
}

footer p {
    text-align: right;
    font-family: "open sans";
    font-size: 20px;
}
@media screen and (max-width:800px) {
    header {
        order: 1;
    }
    .intro {
        order: 2;
        flex-direction: column;
    }
    .galeria {
        order: 3;
    }
    .footer {
        order: 4;
    }

}


