@media screen and (max-width:800px) {
    /* Celular */
    .gato1, .gato2, .gato3, .gato4 {
        font-size: 10px;
    }
    .aside-descripcion{
        font-size: 20px;
    }
}

@media screen and (min-width:801px) and (max-width:1086px) {
    /* Tablet */
    .gato1, .gato2, .gato3, .gato4 {
        font-size: 15px;
    }
    .aside-descripcion{
        font-size: 25px;
    }
}

@media screen and (min-width:1087px) {
    /* escritorio */
    .aside-descripcion{
        font-size: 50px;
    }

}
